/* ====================================== */
/* CSS for control sap.ui.dt/ContextMenu  */
/* Quartz Dark theme                      */
/* ====================================== */

.sapUiDtContextMenu {
	--_sap_ui_dt_ContextMenu_MnuItemTextColor: var(--sapList_SelectionBorderColor);
	--_sap_ui_dt_ContextMenu_MnuItemBackgroundColor: var(--sapList_Background);
	--_sap_ui_dt_ContextMenu_MnuItemHoverBackgroundColor: var(--sapList_SelectionBackgroundColor);
	--_sap_ui_dt_ContextMenu_BorderRadius: var(--sapButton_BorderCornerRadius);
	--_sap_ui_dt_ContextMenu_FocusColor: var(--sapList_SelectionBorderColor);
	--_sap_ui_dt_ContextMenu_MnuItemIconColor: var(--sapList_SelectionBorderColor);
}

.sapUiDtContextMenu.sapMMenu {

	.sapMMenuList {

		.sapMMenuItem {
			color: var(--_sap_ui_dt_ContextMenu_MnuItemTextColor);

			.sapMMenuItemIcon {
				color: var(--_sap_ui_dt_ContextMenu_MnuItemTextColor);
			}

			.sapMMenuItemSubMenu > div::after,
			.sapMMenuItem:hover .sapMMenuItemSubMenu > div::after {
				color: var(--_sap_ui_dt_ContextMenu_MnuItemTextColor);
			}

			&:hover {
				color: var(--_sap_ui_dt_ContextMenu_MnuItemTextColor);
				background-color: var(--_sap_ui_dt_ContextMenu_MnuItemHoverBackgroundColor);

				.sapMMenuItemIcon {
					color: var(--_sap_ui_dt_ContextMenu_MnuItemTextColor);
					background-color: var(--_sap_ui_dt_ContextMenu_MnuItemHoverBackgroundColor);
				}

				&.sapMMenuItemDisabled {
					background-color: var(--_sap_ui_dt_ContextMenu_MnuItemBackgroundColor);

					.sapMMenuItemIcon {
						background-color: var(--_sap_ui_dt_ContextMenu_MnuItemBackgroundColor);
					}
				}
			}

			&:focus:not(.sapMMenuItemDisabled) {
				outline: 0.0625rem dotted var(--_sap_ui_dt_ContextMenu_FocusColor);
				border-radius: var(--_sap_ui_dt_ContextMenu_BorderRadius);
			}

			&.sapMMenuItemDisabled {

				&:focus {
					outline: none;
				}
			}

			&.sapUiDtContextMenuExtendedActionsTitle {

				&:hover {
					background-color: var(--_sap_ui_dt_ContextMenu_PrpgtedMnuItemBGColor) !important;
				}
			}

			&.sapUiDtContextMenuPropagatedControlTitle {

				&:hover {
					background-color: var(--_sap_ui_dt_ContextMenu_PrpgtedMnuItemBGColor) !important;
				}
			}
		}
	}
}